 body{
    margin: 0;
 }
 header{
    text-align: center;
 }
 img{
    display: black;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
 }
 figcaption{
    text-align: center;
 }
 #featured-property p{
    width: 80px;
    test-align: center;
 }
  #details div{
    float: left;
    background-color: red;
    display: black;
    margin-left: auto;
    margin-right: auto;
    width:25%;
    height:1%
  }
  nav a{
    display: black;
    margin-right: 10px;
    margin-left: 10px;
  }

